//************************************************************************//
// Clearfix
//
// eg.
// .container-with-floated-children {
//      @include clearfix()
// }
//************************************************************************//

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}