$desktop-container: 970px;
$desktop-lg-container: 1170px;

//Responsive web design
$break-phone: 768px;
$break-desktop: 992px;
$break-large-desktop: 1200px;

$line-height-multiplier: 1.3;


$colore-testo-generale: #272E36;
$title-black-text-color: #272E36;
$title-blue-text-color: #258BF8;
$paragraph-default-text-color: #8B9BAD;
$footer-dark-background: #272E36;
$footer-title-color: #DAE2EB;
$footer-link-color: #8B9BAD;
$color-border: #E9EDF2;